.game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.setting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

p {
  display: none;
  margin: 0%;
}

input[type="checkbox"] {
  display: inline-block;
}

input[type="checkbox"]:checked+p {
  display: inline-block;
}